* {
  padding: 0;
  margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
nav {
  display: flex;
  background-color: black;

  justify-content: space-between;
  padding: 10px;
  align-items: center;
  height: 4rem;
}

img {
  width: 15%;
  height: 10%;
  border-radius: 50%;
}
nav div {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}
ul {
  width: 25%;
  display: flex;
  justify-content: space-around;
  color: #fff;
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  cursor: pointer;
}

a:hover {
    border-bottom: 1px solid #fff;
}

.burger-menu {
  color: black;
}
.main-content {
  display: flex;
  width: 100vw;
  height: 80vh;
  justify-content: space-around;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 40vh;
  font-size: 4rem;
  text-align: center;
}

button {
  border: none;
  background-color: blue;
  color: #fff;
  width: 20vw;
  height: 5vh;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
}
button:hover{
    background-color: rgba(58, 58, 246, 0.743);
}

/*  */

.squer {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(5, auto);

  width: 40vw;
  height: 30vw;
}
.item1 {
  border: 2px solid black;
  grid-column: 2/6;
  grid-row: 2/5;
  background-color: blueviolet;
}
.item2 {
  border: 2px solid black;
  grid-column: 1/3;
  grid-row: 1/3;
  background-color: rgb(43, 113, 226);
}
.item3 {
  border: 2px solid black;
  grid-column: -3/-1;
  grid-row: 3/6;
  background-color: rgb(16, 16, 16);
}
.item4 {
  border: 2px solid black;
  grid-column: 3/5;
  grid-row: 4/5;
  background-color: rgb(43, 113, 226);
}
footer {
  height: 12vh;
  color: #fff;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer p {
  margin: 10px;
}

/*  */
/*  */
@media (max-width: 600px) {
  nav {
    display: flex;
    background-color: grey;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
    height: 2rem;
  }

  img {
    width: 8%;
    height: 7%;
    border-radius: 50%;
  }

  a {
    display: none;
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
  }
  .burger-menu {
    color: #fff;
    font-size: 2rem;
  }
  .main-content {
    background-color: rgb(238, 172, 185);
    display: flex;
    flex-direction: column;
    width: 100vw; 
        height: 80vh;
    justify-content: space-around;
    align-items: center;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
    font-size: 2rem;
    text-align: center;
  }

  button {
    border: none;
    background-color: blue;
    color: #fff;
    width: 50vw;
    height: 5vh;
    font-size: 2rem;
    text-align: center;
  }

  .menu {
    font-weight: 600;
  }

  .squer {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(5, auto);
    gap: 1rem;
    width: 80vw;
    height: 100vw;
  }
  .item1 {
    border: 2px solid black;
    grid-column: 1/6;
    grid-row: 1/3;
    background-color: blueviolet;
  }
  .item2 {
    border: 2px solid black;
    grid-column: 1/3;
    grid-row: 3/4;
    background-color: rgb(43, 113, 226);
  }
  .item3 {
    border: 2px solid black;
    grid-column: 1/6;
    grid-row: 4/6;
    background-color: rgb(16, 16, 16);
  }
  .item4 {
    border: 2px solid black;
    grid-column: 4/6;
    grid-row: 3/4;
    background-color: rgb(43, 113, 226);
  }
  footer {
    display: none;
  }
}
